<%= form_with(model: @post, :method => "post", class: "m-4") do %>
  <div class="form-group">
    <%= text_field_tag(:title, @post.title, placeholder: "Post Title", class: "form-control") %>
  </div>
  <div class="form-group">
    <%= text_area_tag(:content, @post.content, placeholder: "Post Description", class: "form-control") %>
  </div>
  <%= submit_tag btn_text, class: "btn btn-#{btn_class} btn-block" %>
<% end %>