<h1>New Post</h1>
<%= form_with(model: @post, :method => "post", class: "m-4") do %>
  <div class="form-group">
    <%= text_field_tag(:title, nil, placeholder: "Post Title", class: "form-control") %>
  </div>
  <div class="form-group">
    <%= text_area_tag(:content, nil, placeholder: "Post Description", class: "form-control") %>
  </div>
  <%= submit_tag "create", class: "btn btn-success btn-block" %>
<% end %>